html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

.form-container {
    width: 400px;
    margin: auto;
    text-align: center;
}

.form-item {
    padding: 20px;
}

.form-item > input {
    width: 100%;
}

.form-item > select {
    width: 100%;
}

.form-item > button {
    background: green;
    border: none;
    width: 200px;
    padding: 10px;
    color: white;
    font-weight: bold;
}

.list-table tr td {
    border: 1px solid;
}

.list-table {
    width: 100%;
}

.list-table > thead > tr > td {
    padding: 10px;
    font-weight: bold;
    background: silver;
    color: white;
    border: 1px solid black;
    text-align: center;
}

.list-table > tbody > tr > td {
    padding: 10px;
    text-align: center;
}

